# Github action artifacts.
artifacts
# Profiling artifacts.
cpu.*.prof
heap.prof
mutex.prof
coverprofile.out
# Testing artifacts
meta.*.test

# Bazel files, generated with 'make gen-bazel'.
/WORKSPACE
BUILD.bazel


