body {
    margin: 10;
    background-color: #fff;
    font: 10pt -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.divider {
    border-top: 1px solid #eee;
}

.center {
    margin: auto;
    width: 90%;
    min-width: 400px;
    max-width: 1200px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.section {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}

.title {
    font-size: 24pt;
    font-weight: bold;
    padding-top: 10px;
}

.subtitle {
    font-size: 12pt;
    font-weight: bold;
}

.annotation {
    font-size: 9pt;
}

.annotation > .date {
    width: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}

.code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

.overview {
    max-width: 800px;
}

a {
    text-decoration: none;
}

.selected {
    font-weight: bold;
    text-decoration: underline;
}

path.line1 {
    fill: none;
    stroke-width: 1.5px;
}

path.line2 {
    fill: none;
    stroke-width: 1.5px;
}

svg.chart {
    width: 50%;
    height: 200px;
}

text.hover {
    font-size: 8pt;
    font-weight: bold;
    filter: url(#textBackground);
}
