name: Nightlies (master)

on:
  schedule:
    - cron: '00 10 * * * ' # 10am UTC daily
  workflow_dispatch:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.25' ]
    uses: ./.github/workflows/tests.yaml
    with:
      sha: ${{ github.sha }}
      file_issue_branch: 'master'
      go_version: ${{ matrix.go }}

  s390x:
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.25' ]
    uses: ./.github/workflows/s390x.yaml
    with:
      sha: ${{ github.sha }}
      file_issue_branch: 'master'
      go_version: ${{ matrix.go }}

  stress:
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.25' ]
    uses: ./.github/workflows/stress.yaml
    with:
      sha: ${{ github.sha }}
      file_issue_branch: 'master'
      go_version: ${{ matrix.go }}

  instrumented:
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.25' ]
    uses: ./.github/workflows/instrumented.yaml
    with:
      sha: ${{ github.sha }}
      file_issue_branch: 'master'
      go_version: ${{ matrix.go }}

  cockroach-go:
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.25' ]
    uses: ./.github/workflows/cockroach-go.yaml
    with:
      sha: ${{ github.sha }}
      file_issue_branch: 'master'
      bootstrap_go_version: '1.25'
      go_branch: 'cockroach-go1.25.3'
