name: Sanitizers

on:
  schedule:
  - cron: "0 0 * * *" # Midnight UTC, daily.

jobs:
  linux-asan:
    name: go-linux-asan
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: "1.23"

    - run: make testasan

  linux-msan:
    name: go-linux-msan
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: "1.23"

    - run: make testmsan
