name: Nightly stress test

on:
  schedule:
    - cron: '00 10 * * * '
  workflow_dispatch:

jobs:

  linux-stress:
    name: linux-stress
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22"

      - name: Run unit tests under stress
        run: |
          go install github.com/cockroachdb/stress@latest
          scripts/stress.sh
